@page "/AddClient"

@using BminingBlazor.ViewModels.Projects
@inject IClientDataService ClientDataService
@inject IProjectDataService ProjectDataService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@*@attribute [Authorize(Roles = "Administracion")]*@

<div class="bmining-app">
    <h2>@Resource.AddClient</h2>
    <div class="main-break">
        <div class="main-circle"></div>
    </div>
    <div class="form-group">
        <label for="clientName">@Resource.Name</label>
        <input class="form-control" id="clientName" @bind-value="@_newClient.MyName" />
    </div>
    <button class="badge badge-primary badge-pill  bg-bmining-info float-right" @onclick="@InsertClient">@Resource.Save</button>
</div>
@code {
    private ClientViewModel _newClient = new ClientViewModel();

    private async Task InsertClient()
    {
        await ClientDataService.CreateClient(_newClient.MyName);
        NavigationManager.NavigateTo("/ViewProject");
    }
}
