@page "/AddMembers/{idProject:int}"

@using ViewModels.User
@inject IUserDataService UserDataService
@inject IProjectDataService ProjectDataService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize(Roles = "Administracion")]


<div class="bmining-app">
    <h2>@Resource.Members</h2>
    <div class="main-break">
        <div class="main-circle"></div>
    </div>


    @if (_users != null)
    {
        <div>
            <button class="btn-plus" @onclick="AddMembersProjectCallback">
            </button>

            <table>
                <thead>
                    <tr>
                        <th>@Resource.Email</th>
                        <th>@Resource.ProjectHours</th>
                        <th>@Resource.Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var membersProject in _membersItems)
                    {
                        <tr>
                            <td>
                               

                                    <select class="form-control " @bind="membersProject.MyId" required>
                                        @foreach (var emails in _users)
                                        {
                                            <option value="@emails.MyId">@emails.MyEmail</option>
                                        }
                                    </select>
                               
                            </td>
                            <td><input type="number" step="0.1" @bind="@membersProject.MyProjectHours" /> </td>
                            <td>
                                <button class="btn-delete" @onclick="()=>DeleteMembersProject(membersProject)">
                                </button>
                            </td>
                        </tr>



                    }
                </tbody>
            </table>

        </div>
        <button class="bmining-button float-right" @onclick="@InsertMember">@Resource.Add</button>
    }
</div>

@code {
    [Parameter]
    public int IdProject { get; set; }
    public List<MemberViewModel> _membersItems = new List<MemberViewModel>();
    public List<MemberViewModel> _users = new List<MemberViewModel>();
    public List<UserViewModel> users = new List<UserViewModel>();
    public List<MemberViewModel> _members = new List<MemberViewModel>();


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            users = await UserDataService.ReadUsers();
            _membersItems = new List<MemberViewModel>();
            _users = new List<MemberViewModel>();
            _members = await ProjectDataService.ReadMembers(IdProject);
            foreach (var member in _members)
            {
                var itemToRemove = users.Single(r => r.MyId == member.MyId);
                this.users.Remove(itemToRemove);
            }
            foreach (var user in users)
            {
                _users.Add(new MemberViewModel
                {
                    MyId = user.MyId,
                    MyEmail = user.MyEmail,
                    MyName = user.MyName,
                    MyPaternalSurname = user.MyPaternalSurname
                });
            }

            StateHasChanged();
        }
    }

    private void AddMembersProjectCallback()
    {
        _membersItems.Add(new MemberViewModel());
    }

    private void DeleteMembersProject(MemberViewModel membersProject)
    {
        _membersItems.Remove(membersProject);
    }

    private async Task InsertMember()
    {
        await ProjectDataService.AddMember(_membersItems, IdProject);
        NavigationManager.NavigateTo($"/ViewMembers/{IdProject}");
    }
}
