@page "/AddPaymentStatus/{idProject:int}"
@using ViewModels.Projects

@inject IUserDataService UserDataService
@inject IProjectDataService ProjectDataService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@*@attribute [Authorize(Roles = "Administracion")]*@


<div class="bmining-app">
    <div class="d-flex flex-row w-100 justify-content-between">
        <div class="d-inline-block">
            <h2>@Resource.PaymentStatus</h2>
        </div>
        <div class="d-inline-block">
            <button @onclick="AddPaymentStatusCallback" class="btn-plus">               
            </button>
        </div>
    </div>    
    

    @if (_paymentStatusItems != null)
    {
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>@Resource.Name</th>
                        <th>@Resource.PaymentDeadlineIssued</th>
                        <th>@Resource.BillingDeadline </th>
                        <th>@Resource.Actions </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var paymentStatus in _paymentStatusItems)
                    {
                        <tr>
                            <td>
                                <input class="w-100" type="text" @bind-value="@paymentStatus.MyName" />
                            </td>
                            <td>
                                <input class="w-100" type="date" @bind-value="@paymentStatus.IssueExpirationDate" />
                            </td>

                            <td>
                                <input class="w-100" type="date" @bind-value="@paymentStatus.InvoiceExpirationDate" />
                            </td>
                            <td>
                                <button class="btn-delete" @onclick="()=>DeletePaymentStatus(paymentStatus)">                                  
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <button class="badge badge-primary badge-pill  bg-bmining-info float-right" @onclick="@InsertPayment">@Resource.Load</button>
    }
    else
    {
        <MatProgressBar Indeterminate="true"></MatProgressBar>
    }
</div>

@code {
    [Parameter]
    public int IdProject { get; set; }
    private List<PaymentViewModel> _paymentStatusItems;

    protected override void OnInitialized()
    {
        _paymentStatusItems = new List<PaymentViewModel>();
    }

    private void AddPaymentStatusCallback()
    {
        _paymentStatusItems.Add(new PaymentViewModel()
        {
            InvoiceExpirationDate = DateTime.UtcNow,
            IssueExpirationDate = DateTime.UtcNow
        });
    }

    private void DeletePaymentStatus(PaymentViewModel paymentStatus)
    {
        _paymentStatusItems.Remove(paymentStatus);
    }
    private async Task InsertPayment()
    {

        await ProjectDataService.AddPaymentStatus(_paymentStatusItems, IdProject);
        NavigationManager.NavigateTo($"/ViewPaymentStatus/{IdProject}");
    }
}