@page "/CrearProyecto"
@using Models
@using Microsoft.AspNetCore.Http
@using ProjectModel = Models.Project.ProjectModel
@using BminingBlazor.ViewModels.Projects
@using BminingBlazor.ViewModels.User
@using Models.Project
@using MemberViewModel = BminingBlazor.ViewModels.User.MemberViewModel

@inject IProjectDataService ProjectDataService
@inject NavigationManager NavigationManager
@inject IUserDataService UserDataService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IHttpContextAccessor HttpContextAccessor
@inject IClientDataService ClientDataService

@attribute [Authorize(Roles = "Administracion")]


<h3>CrearProyecto</h3>

<EditForm Model="@_newCreateProjectView" OnValidSubmit="@InsertProject">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <label for="inputNombres">  Codigo de Proyecto:  </label>
        <InputText id="Cod_Proyecto" @bind-Value="_newCreateProjectView.MyProjectCode" />
        <label for="inputNombres">  Nombre de Proyecto:  </label>
        <InputText id="Nombre_Proyecto" @bind-Value="_newCreateProjectView.MyProjectName" />
    </div>
    <div>
        <label for="inputNombres">Cliente:</label>
        <select class="form-control" @bind="_newCreateProjectView.MyClientId" required>

            @foreach (var cliente in clientes)
            {
                <option value="@cliente.ClientId">@cliente.ClientName</option>
            }
        </select>
    </div>
    <div>
        <label for="inputNombres">  Fecha de Inicio:  </label>
        <InputDate id="Fecha_Inicio" @bind-Value="_newCreateProjectView.MyStartDate" />
        <label for="inputNombres">  Fecha de Termino:  </label>
        <InputDate id="Fecha_Fin" @bind-Value="_newCreateProjectView.MyEndDate" />
    </div>
    <div>

        <label for="inputNombres">  Tipo de Proyecto:  </label>
        <InputSelect class="form-control" @bind-Value="_newCreateProjectView.MyProjectType" required>

            @foreach (var typeProject in Enum.GetValues(typeof(ProjectTypeEnum)))
            {
            <option value="@typeProject">
                @{
                    switch (typeProject)
                    {
                        case ProjectTypeEnum.Commercial:
                            <p>Comercial</p>
                            break;
                        case ProjectTypeEnum.Internal:
                            <p>Interno</p>
                            break;
                        case ProjectTypeEnum.Thesis:
                            <p>Memoria</p>
                            break;


                        
                    }
                }
            </option>
            }

        </InputSelect>

    </div>
    <div>
        <label for="inputNombres">Estado del Proyecto:</label>
        <InputSelect class="form-control" @bind-Value="_newCreateProjectView.MyProjectStatus" required>

            @foreach (var typestatus in Enum.GetValues(typeof(ProjectStatusEnum)))
            {
                <option value="@typestatus">@typestatus</option>
            }
        </InputSelect>
    </div>
    <div>
        @*<label for="inputNombres">  Email Jefe del Proyecto:  </label>
            <select class="form-control" @bind="_newCreateProjectView.MyProjectManager" required>
                @foreach (var boss in users)
                {
                    <option value="@boss.MyId">@boss.MyEmail</option>
                }
            </select>*@
    </div>
    <div>
        <MatButton Type="button" OnClick="AddPaymentStatusCallback">
            Agregar Estado de Pago
        </MatButton>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha Limite Pago Emitido</th>
                    <th>Fecha Limite Facturación </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var paymentStatus in _paymentStatusItems)
                {
                    <tr>
                        <td><InputText @bind-Value="@paymentStatus.Name" /></td>
                        <td><InputDate @bind-Value="@paymentStatus.IssueExpirationDate"></InputDate></td>
                        <td><InputDate @bind-Value="@paymentStatus.InvoiceExpirationDate"></InputDate></td>
                        <MatButton Type="button" OnClick="()=>DeletePaymentStatus(paymentStatus)">
                            Eliminar
                        </MatButton>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <MatButton Type="button" OnClick="AddMembersProjectCallback">
            Agregar Integrantes
        </MatButton>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Horas del Proyecto</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var membersProject in _membersProjectItems)
                {
                    <tr>
                        <td>
                            <div class="form-group col-md-6">

                                <select class="form-control" @bind="membersProject.MyEmail" required>
                                    @if (users is null)
                                    {
                                    }
                                    else
                                    {
                                        @foreach (var emails in users)
                                        {
                                            <option value="@emails.MyId">@emails.MyEmail</option>
                                        }
                                    }
                                </select>
                            </div>
                        </td>
                        <td><input type="number" step="0.1" @bind="@membersProject.MyProjectHours" /> </td>
                        <MatButton Type="button" OnClick="()=>DeleteMembersProject(membersProject)">
                            Eliminar
                        </MatButton>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <MatButton type="submit">@Resource.Next</MatButton>

</EditForm>


@code {


    private ProjectViewModel _newCreateProjectView = new ProjectViewModel();
    private List<TipoProyectoModel> tipro;
    private List<UserViewModel> users;
    private List<PaymentViewModel> _paymentStatusItems;
    private List<MemberViewModel> _membersProjectItems;
    private List<ClientModel> clientes;
    private List<StatusProjectModel> _statusProjectModels;




    private void AddPaymentStatusCallback()
    {
        _paymentStatusItems.Add(new PaymentViewModel()
        {
            InvoiceExpirationDate = DateTime.UtcNow,
            IssueExpirationDate = DateTime.UtcNow
        });

    }

    private void AddMembersProjectCallback()
    {
        _membersProjectItems.Add(new MemberViewModel());
    }


    private void DeletePaymentStatus(PaymentViewModel paymentStatus)
    {
        _paymentStatusItems.Remove(paymentStatus);
    }

    private void DeleteMembersProject(MemberViewModel membersProject)
    {
        _membersProjectItems.Remove(membersProject);
    }

    protected override async Task OnInitializedAsync()
    {
        _statusProjectModels = await ProjectDataService.GetAvailableProjectStatus();
        tipro = await ProjectDataService.ReadProjectType();
        clientes = await ClientDataService.ReadClients();
        users = await UserDataService.ReadUsers();
        _paymentStatusItems = new List<PaymentViewModel>();
        _membersProjectItems = new List<MemberViewModel>();
        string user = HttpContextAccessor.HttpContext.User.Identity.Name;

    }


    protected override void OnInitialized()
    {
        base.OnInitialized();
        _newCreateProjectView.MyStartDate = DateTime.Today;
        _newCreateProjectView.MyEndDate = DateTime.Today;



    }

    private async Task InsertProject()
    {
        string user = HttpContextAccessor.HttpContext.User.Identity.Name;
        var id_Creador = await UserDataService.GetUserId(user);
        var project = new ProjectViewModel()
        {
            MyProjectCode = _newCreateProjectView.MyProjectCode,
            MyProjectName = _newCreateProjectView.MyProjectName,
            MyProjectType = _newCreateProjectView.MyProjectType,
            MyStartDate = _newCreateProjectView.MyStartDate,
            MyEndDate = _newCreateProjectView.MyEndDate,
            MyCreator = new UserViewModel() { MyId = id_Creador },
            MyProjectManager = _newCreateProjectView.MyProjectManager,
            MyClientId = _newCreateProjectView.MyClientId,
            MyProjectStatus = _newCreateProjectView.MyProjectStatus


        };

        var id_proyecto = await ProjectDataService.CreateProject(project);
        foreach (var members in _membersProjectItems)
        {
            {
                project.OurMembers.Add(members);

            };

        }
        //foreach (var estados in _paymentStatusItems)
        //{

        //    {
        //        project.OurPayments.Add(estados);
        //    };

    }




    // NavigationManager.NavigateTo("/Proyectos");

}





}
