@page "/CreateProject"
@using Models
@using Microsoft.AspNetCore.Http
@using ProjectModel = Models.Project.ProjectModel
@using BminingBlazor.ViewModels.Projects
@using BminingBlazor.ViewModels.User
@using Models.Project
@using MemberViewModel = BminingBlazor.ViewModels.User.MemberViewModel

@inject IProjectDataService ProjectDataService
@inject NavigationManager NavigationManager
@inject IUserDataService UserDataService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IHttpContextAccessor HttpContextAccessor
@inject IClientDataService ClientDataService

@attribute [Authorize(Roles = "Administracion")]


<h3>@Resource.CreateProject</h3>

<EditForm Model="@_newCreateProjectView" OnValidSubmit="@InsertProject">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <label for="inputNombres">  @Resource.ProjectCode:  </label>
        <InputText id="MyProjectCode" @bind-Value="_newCreateProjectView.MyProjectCode" />
        <label for="inputNombres">  @Resource.ProjectName:  </label>
        <InputText id="MyProjectName" @bind-Value="_newCreateProjectView.MyProjectName" />
    </div>
    <div>
        <label for="inputNombres">@Resource.Client:</label>
        <select class="form-control" @bind="_newCreateProjectView.MyClientId" required>

            @foreach (var client in _clients)

            {
                <option value="@client.ClientId">@client.ClientName</option>
            }
        </select>
    </div>
    <div>
        <label for="inputNombres">  @Resource.StartDate:  </label>
        <InputDate id="MyStartDate" @bind-Value="_newCreateProjectView.MyStartDate" />
        <label for="inputNombres">  @Resource.EndDate:  </label>
        <InputDate id="MyEndDate" @bind-Value="_newCreateProjectView.MyEndDate" />
    </div>
    <div>
        <label for="inputNombres">  @Resource.ProjectType:  </label>
        <InputSelect class="form-control" @bind-Value="_newCreateProjectView.MyProjectType" required>

            @foreach (var typeProject in Enum.GetValues(typeof(ProjectTypeEnum)))
            {
                <option value="@typeProject">
                    @{
                        switch (typeProject)
                        {
                            case ProjectTypeEnum.Commercial:
                                <p>Comercial</p>
                                break;
                            case ProjectTypeEnum.Internal:
                                <p>Interno</p>
                                break;
                            case ProjectTypeEnum.Thesis:
                                <p>Memoria</p>
                                break;
                        }
                    }
                </option>
            }
        </InputSelect>
    </div>
    <div>
        <label for="inputNombres">@Resource.ProjectStatus:</label>
        <InputSelect class="form-control" @bind-Value="_newCreateProjectView.MyProjectStatus" required>

            @foreach (var typeStatus in Enum.GetValues(typeof(ProjectStatusEnum)))
            {
                <option value="@typeStatus">
                    @{
                        switch (typeStatus)
                        {
                            case ProjectStatusEnum.Active:
                                <p>Activo</p>
                                break;
                            case ProjectStatusEnum.Finished:
                                <p>Finalizado</p>
                                break;
                        }
                    }

                </option>
            }
        </InputSelect>
    </div>
    <div>
        <label for="inputNombres">  @Resource.EmailProjectManager:  </label>
        <select class="form-control" @bind="_newCreateProjectView.MyProjectManager.MyId" required>
            @foreach (var boss in _users)
            {
                <option value="@boss.MyId">@boss.MyEmail</option>
            }
        </select>
    </div>
    <div>
        <MatButton Type="button" OnClick="AddPaymentStatusCallback">
            @Resource.AddPaymentStatus
        </MatButton>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Resource.Name</th>
                    <th>@Resource.PaymentDeadlineIssued</th>
                    <th>@Resource.BillingDeadline </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var paymentStatus in _paymentStatusItems)
                {
                    <tr>
                        <td><InputText @bind-Value="@paymentStatus.MyName" /></td>
                        <td><InputDate @bind-Value="@paymentStatus.IssueExpirationDate"></InputDate></td>
                        <td><InputDate @bind-Value="@paymentStatus.InvoiceExpirationDate"></InputDate></td>
                        <MatButton Type="button" OnClick="()=>DeletePaymentStatus(paymentStatus)">
                            @Resource.Delete
                        </MatButton>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <MatButton Type="button" OnClick="AddMembersProjectCallback">
            @Resource.AddMember
        </MatButton>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Resource.Email</th>
                    <th>@Resource.ProjectHours</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var membersProject in _membersProjectItems)
                {
                    <tr>
                        <td>
                            <div class="form-group col-md-6">

                                <select class="form-control" @bind="membersProject.MyId" required>
                                    @if (_users is null)
                                    {
                                    }
                                    else
                                    {
                                        @foreach (var emails in _users)
                                        {
                                            <option value="@emails.MyId">@emails.MyEmail</option>
                                        }
                                    }
                                </select>
                            </div>
                        </td>
                        <td><input type="number" step="0.1" @bind="@membersProject.MyProjectHours" /> </td>
                        <MatButton Type="button" OnClick="()=>DeleteMembersProject(membersProject)">
                            @Resource.Delete
                        </MatButton>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <MatButton type="submit">@Resource.Next</MatButton>

</EditForm>


@code {

    private ProjectViewModel _newCreateProjectView = new ProjectViewModel();
    private List<UserViewModel> _users;
    private List<PaymentViewModel> _paymentStatusItems;
    private List<MemberViewModel> _membersProjectItems;
    private List<ClientModel> _clients;
    private List<StatusProjectModel> _statusProjectModels;


    private void AddPaymentStatusCallback()
    {
        _paymentStatusItems.Add(new PaymentViewModel()
        {
            InvoiceExpirationDate = DateTime.UtcNow,
            IssueExpirationDate = DateTime.UtcNow
        });
    }

    private void AddMembersProjectCallback()
    {
        _membersProjectItems.Add(new MemberViewModel());
    }


    private void DeletePaymentStatus(PaymentViewModel paymentStatus)
    {
        _paymentStatusItems.Remove(paymentStatus);
    }

    private void DeleteMembersProject(MemberViewModel membersProject)
    {
        _membersProjectItems.Remove(membersProject);
    }

    protected override async Task OnInitializedAsync()
    {
        _statusProjectModels = await ProjectDataService.GetAvailableProjectStatus();
        _clients = await ClientDataService.ReadClients();
        _users = await UserDataService.ReadUsers();
        _paymentStatusItems = new List<PaymentViewModel>();
        _membersProjectItems = new List<MemberViewModel>();
        _newCreateProjectView.MyProjectManager = new UserViewModel();
        string user = HttpContextAccessor.HttpContext.User.Identity.Name;
    }


    protected override void OnInitialized()
    {
        base.OnInitialized();
        _newCreateProjectView.MyStartDate = DateTime.Today;
        _newCreateProjectView.MyEndDate = DateTime.Today;
    }

    private async Task InsertProject()
    {
        string user = HttpContextAccessor.HttpContext.User.Identity.Name;
        var creatorId = await UserDataService.GetUserId(user);
        var project = new ProjectViewModel()
        {
            MyProjectCode = _newCreateProjectView.MyProjectCode,
            MyProjectName = _newCreateProjectView.MyProjectName,
            MyProjectType = _newCreateProjectView.MyProjectType,
            MyStartDate = _newCreateProjectView.MyStartDate,
            MyEndDate = _newCreateProjectView.MyEndDate,
            MyCreator = new UserViewModel() { MyId = creatorId },
            MyProjectManager = _newCreateProjectView.MyProjectManager,
            MyClientId = _newCreateProjectView.MyClientId,
            MyProjectStatus = _newCreateProjectView.MyProjectStatus
        };

        foreach (var members in _membersProjectItems)
        {
            project.OurMembers.Add(members);
        }

        foreach (var estados in _paymentStatusItems)
        {
            project.OurPayments.Add(estados);
        }
        NavigationManager.NavigateTo("/ViewProject");
    }
}
