@page "/CrearProyecto"
@using Models
@using BminingBlazor.ViewModels.Project
@using Microsoft.AspNetCore.Http
@using ProjectModel = Models.ProjectModel

@inject IProjectDataService ProjectDataService
@inject NavigationManager NavigationManager
@inject IUserDataService UserDataService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IHttpContextAccessor HttpContextAccessor

@attribute [Authorize(Roles = "Administracion")]


<h3>CrearProyecto</h3>

<EditForm Model="@_newCreateProjectView" OnValidSubmit="@InsertProject">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <label for="inputNombres">  Codigo de Proyecto:  </label>
        <InputText id="Cod_Proyecto" @bind-Value="_newCreateProjectView.Cod_Proyecto" />
        <label for="inputNombres">  Nombre de Proyecto:  </label>
        <InputText id="Nombre_Proyecto" @bind-Value="_newCreateProjectView.Nombre_Proyecto" />
    </div>
    <div>
        <label for="inputNombres">Cliente:</label>
        <select class="form-control" @bind="_newCreateProjectView.Id_Cliente" required>

            @foreach (var cliente in clientes)
            {
                <option value="@cliente.Id_Cliente">@cliente.Nombre_Cliente</option>
            }
        </select>
    </div>
    <div>
        <label for="inputNombres">  Fecha de Inicio:  </label>
        <InputDate id="Fecha_Inicio" @bind-Value="_newCreateProjectView.Fecha_Inicio" />
        <label for="inputNombres">  Fecha de Termino:  </label>
        <InputDate id="Fecha_Fin" @bind-Value="_newCreateProjectView.Fecha_Fin" />
    </div>
    <div>

        <label for="inputNombres">  Tipo de Proyecto:  </label>
        <select class="form-control" @bind="_newCreateProjectView.Cod_TipoProyecto" required>
            @if (tipro != null)
            {
                @foreach (var tipoproyecto in tipro)
                {
                    <option value="@tipoproyecto.Cod_TipoProyecto">@tipoproyecto.Tipo_Proyecto</option>
                }
            }
        </select>

    </div>
    <div>
        <label for="inputNombres">Estado del Proyecto:</label>
        <select class="form-control" @bind="_newCreateProjectView.Id_Status" required>

            @foreach (var project in _statusProjectModels)
            {
                <option value="@project.Id_Status">@project.Status</option>
            }
        </select>
    </div>
    <div>
        <label for="inputNombres">  Email Jefe del Proyecto:  </label>
        <select class="form-control" @bind="_newCreateProjectView.Id_JefeProyecto" required>
            @foreach (var boss in users)
            {
                <option value="@boss.id">@boss.Email_Bmining</option>
            }
        </select>
    </div>
    <div>
        <MatButton Type="button" OnClick="AddPaymentStatusCallback">
            Agregar Estado de Pago
        </MatButton>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha Limite Pago Emitido</th>
                    <th>Fecha Limite Facturación </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var paymentStatus in _paymentStatusItems)
                {
                    <tr>
                        <td><InputText @bind-Value="@paymentStatus.Name" /></td>
                        <td><InputDate @bind-Value="@paymentStatus.IssueExpirationDate"></InputDate></td>
                        <td><InputDate @bind-Value="@paymentStatus.InvoiceExpirationDate"></InputDate></td>
                        <MatButton Type="button" OnClick="()=>DeletePaymentStatus(paymentStatus)">
                            Eliminar
                        </MatButton>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <MatButton Type="button" OnClick="AddMembersProjectCallback">
            Agregar Integrantes
        </MatButton>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Horas del Proyecto</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var membersProject in _membersProjectItems)
                {
                    <tr>
                        <td>
                            <div class="form-group col-md-6">

                                <select class="form-control" @bind="membersProject.Id_Usuario" required>
                                    @if (users is null)
                                    {
                                    }
                                    else
                                    {
                                        @foreach (var emails in users)
                                        {
                                            <option value="@emails.id">@emails.Email_Bmining</option>
                                        }
                                    }
                                </select>
                            </div>
                        </td>
                        <td><input type="number" step="0.1" @bind="@membersProject.HoursProject" /> </td>
                        <MatButton Type="button" OnClick="()=>DeleteMembersProject(membersProject)">
                            Eliminar
                        </MatButton>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <MatButton type="submit">@Resource.Next</MatButton>

</EditForm>


@code {


    private ProjectModel _newCreateProjectView = new ProjectModel();
    private List<TipoProyectoModel> tipro;
    private List<UsuarioModel> users;
    private List<PaymentStatusItemViewModel> _paymentStatusItems;
    private List<MembersProjectViewModel> _membersProjectItems;
    private List<ClienteModel> clientes;
    private List<StatusProjectModel> _statusProjectModels;




    private void AddPaymentStatusCallback()
    {
        _paymentStatusItems.Add(new PaymentStatusItemViewModel
        {
            InvoiceExpirationDate = DateTime.UtcNow,
            IssueExpirationDate = DateTime.UtcNow
        });

    }

    private void AddMembersProjectCallback()
    {
        _membersProjectItems.Add(new MembersProjectViewModel());
    }


    private void DeletePaymentStatus(PaymentStatusItemViewModel paymentStatus)
    {
        _paymentStatusItems.Remove(paymentStatus);
    }

    private void DeleteMembersProject(MembersProjectViewModel membersProject)
    {
        _membersProjectItems.Remove(membersProject);
    }

    protected override async Task OnInitializedAsync()
    {
        _statusProjectModels = await ProjectDataService.GetAvailableProjectStatus();
        clientes = await ProjectDataService.ReadCliente();
        tipro = await ProjectDataService.ReadProjectType();
        users = await UserDataService.ReadUsers();
        _paymentStatusItems = new List<PaymentStatusItemViewModel>();
        _membersProjectItems = new List<MembersProjectViewModel>();
        string user = HttpContextAccessor.HttpContext.User.Identity.Name;

    }


    protected override void OnInitialized()
    {
        base.OnInitialized();
        _newCreateProjectView.Fecha_Inicio = DateTime.Today;
        _newCreateProjectView.Fecha_Fin = DateTime.Today;



    }

    private async Task InsertProject()
    {
        string user = HttpContextAccessor.HttpContext.User.Identity.Name;
        var id_Creador = await UserDataService.GetUserId(user);
        var project = new CreateProjectViewModel()
        {
            Cod_Proyecto = _newCreateProjectView.Cod_Proyecto,
            Nombre_Proyecto = _newCreateProjectView.Nombre_Proyecto,
            Cod_TipoProyecto = _newCreateProjectView.Cod_TipoProyecto,
            Fecha_Inicio = _newCreateProjectView.Fecha_Inicio,
            Fecha_Fin = _newCreateProjectView.Fecha_Fin,
            Id_Creador = id_Creador,
            Id_JefeProyecto = _newCreateProjectView.Id_JefeProyecto,
            Id_Cliente = _newCreateProjectView.Id_Cliente,
            Id_Status = _newCreateProjectView.Id_Status


        };
        var id_proyecto = await ProjectDataService.CreateProject(project);
        foreach (var members in _membersProjectItems)
        {
            {
                project.Id_Proyecto = id_proyecto;
                project.Id_Usuario = members.Id_Usuario;
                project.HoursProject = members.HoursProject;
            };
            await ProjectDataService.AddMember(project);
        }
        foreach (var estados in _paymentStatusItems)
        {
            var status = new EstadoPagoModel()
            {
                Id_Proyecto = id_proyecto,
                Estado_Pago = estados.Name,
                InvoiceExpirationDate = estados.InvoiceExpirationDate,
                IssueExpirationDate = estados.IssueExpirationDate,
                Cod_TipoEstadoPago = 1
            };
            await ProjectDataService.AddPaymentStatus(status);
        }



        NavigationManager.NavigateTo("/Proyectos");

    }





}
