@page "/proyectos"
@using Models
@using BminingBlazor.ViewModels.Projects


@inject IProjectDataService ProjectDataService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IMatDialogService MatDialogService
@attribute [Authorize(Roles = "Administracion")]


    <h3>Proyectos </h3>
    >
    @if (_projects == null)
    {
        <p><em>Cargando...</em></p>
    }
    else
    {
        <div class="table-responsive{-sm|-md|-lg|-xl}">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Codigo Proyecto</th>
                        <th>Nombre Proyecto</th>
                        <th>Email Jefe de Proyecto</th>
                        <th>Tipo de Proyecto</th>
                        <th>Cliente</th>
                        <th>@Resource.StatusProject </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in _projects)
                    {
                    <tr>
                        <td>@p.MyProjectCode</td>
                        <td>@p.MyProjectName</td>
                        <td>@p.MyProjectManager.MyEmail</td>
                        <td>@p.MyProjectType</td>
                        <td>@p.MyClientName</td>
                        <td>@p.MyProjectStatus</td>
                        <MatButton @onclick=@(()=>ViewIntegrantes(p.MyId))>Integrantes</MatButton>
                        <MatButton @onclick=@(()=>EditEstadoPago(p.MyId))>Cambiar Estado de pago</MatButton>
                        <MatButton @onclick=@(()=>Delete(p.MyId))>Eliminar</MatButton>
                    </tr>
                    }
                    <tr>
                        <MatButton type="button" class="btn btn-primary" @onclick="@NewProyecto">Agregar Proyecto</MatButton>
                    </tr>
                </tbody>
            </table>
        </div>
    }


    @code {
        private List<ProjectViewModel> _projects;

        protected override async Task OnInitializedAsync()
        {

            _projects = await ProjectDataService.ReadProjects();
        }

        public void EditEstadoPago(int Cod_EstadoPago)
        {
            NavigationManager.NavigateTo($"/EditPaymentStatus/{Cod_EstadoPago}");
        }

        public void NewProyecto()
        {
            NavigationManager.NavigateTo("/CrearProyecto");
        }
        public void ViewIntegrantes(int idProyecto)
        {
            NavigationManager.NavigateTo($"ViewMembers/{idProyecto}");
        }

        public async void Delete(int idProyecto)
        {
            var answer = await MatDialogService.AskAsync(Resource.AreYouSureToDelete, new[] { Resource.Yes, Resource.No });
            if (answer == null || answer == Resource.No)
                return;
            await ProjectDataService.DeleteProject(idProyecto);
            NavigationManager.NavigateTo("/proyectos", true);
        }
    }
