@page "/ViewIntegrantes/{id_proyecto:int}"
@using Models
@using BminingBlazor.Services
@inject NavigationManager NavigationManager
@inject IProyectoDataService ProyectoDataService
@inject IUserDataService UserDataService
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize(Roles = "Administracion")]
<h3>Jefe Proyecto</h3>
@if (jefe == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <div class="table-responsive{-sm|-md|-lg|-xl}">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Nombres</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno </th>
                    <th>Rut</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in jefe)
                {
                    <tr>
                        <td>@p.Email_Bmining</td>
                        <td>@p.Nombre</td>
                        <td>@p.Apellido_Paterno</td>
                        <td>@p.Apellido_Materno</td>
                        <td>@p.Rut</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<h3>Integrantes</h3>
@if (integrantes == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <div class="table-responsive{-sm|-md|-lg|-xl}">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Nombres</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno </th>
                    <th>Rut</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in integrantes)
                {
                    <tr>
                        <td>@i.Email_Bmining</td>
                        <td>@i.Nombre</td>
                        <td>@i.Apellido_Paterno</td>
                        <td>@i.Apellido_Materno</td>
                        <td>@i.Rut</td>
                        <MatButton @onclick=@(()=>Delete(i.Cod_Integrantes))>Eliminar</MatButton>
                    </tr>
                }
                <tr>
                    <button type="button" class="btn btn-primary" @onclick="@Agregar">Agregar Integrante</button>
                </tr>
            </tbody>
        </table>
    </div>
}

@code {
    [Parameter]
    public int id_proyecto { get; set; }
    public int id { get; set; }

    private List<UsuarioEditModel> jefe;
    private List<ProyectoModel> proyecto;
    private List<UsuarioEditModel> integrantes;

    protected override async Task OnInitializedAsync()
    {
        id = await ProyectoDataService.ReadJefeProyecto(id_proyecto);
        jefe = await UserDataService.ReadUser(id);
        integrantes = await ProyectoDataService.ReadIntegrantes(id_proyecto);
    }

    public void Agregar()
    {
        NavigationManager.NavigateTo($"/AddIntegrantes/{id_proyecto}");
    }

    public async void Delete(int cod_integrantes)
    {
        await ProyectoDataService.DeleteIntegrante(cod_integrantes);
        NavigationManager.NavigateTo($"/viewIntegrantes/{id_proyecto}", true);
    }
}
