@page "/ViewMembers/{idproject:int}"
@using Models
@using BminingBlazor.Services
@using Microsoft.AspNetCore.Components
@using System.Data

@inject IMatDialogService MatDialogService
@inject NavigationManager NavigationManager
@inject IProyectoDataService ProyectoDataService
@inject IUserDataService UserDataService
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize(Roles = "Administracion")]
<h3>@Resource.Project_Manager</h3>
@if (_boss == null)
{
}
else
{
    <div class="table-responsive{-sm|-md|-lg|-xl}">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Resource.Mail</th>
                    <th>@Resource.Names</th>
                    <th>@Resource.Last_Name_One</th>
                    <th>@Resource.Last_Name_Two</th>
                    <th>Rut</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in _boss)
                {
                    <tr>
                        <td>@p.Email_Bmining</td>
                        <td>@p.Nombre</td>
                        <td>@p.Apellido_Paterno</td>
                        <td>@p.Apellido_Materno</td>
                        <td>@p.Rut</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<h3>Integrantes</h3>
@if (_members == null)
{
}
else
{
    <div class="table-responsive{-sm|-md|-lg|-xl}">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Resource.Mail</th>
                    <th>@Resource.Names</th>
                    <th>@Resource.Last_Name_One</th>
                    <th>@Resource.Last_Name_Two</th>
                    <th>Rut</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in _members)
                {
                    <tr>
                        <td>@i.Email_Bmining</td>
                        <td>@i.Nombre</td>
                        <td>@i.Apellido_Paterno</td>
                        <td>@i.Apellido_Materno</td>
                        <td>@i.Rut</td>
                        <MatButton @onclick="()=>Delete(i.Cod_Integrantes)">@Resource.Delete</MatButton>
                    </tr>
                }
            </tbody>
        </table>
        <MatButton type="button" class="btn btn-primary" @onclick="@AddMember">@Resource.Add_Member</MatButton>
    </div>

}

@code {
    [Parameter]
    public int IdProject { get; set; }
    private List<UsuarioEditModel> _boss;
    private List<UsuarioEditModel> _members;
    protected override async Task OnInitializedAsync()
    {
        var id = await ProyectoDataService.ReadIdProjectManager(IdProject);
        _boss = await UserDataService.ReadUser(id);
        _members = await ProyectoDataService.ReadIntegrantes(IdProject);
    }
    public void AddMember()
    {
        NavigationManager.NavigateTo($"/AddMembers/{IdProject}");
    }
    public async void Delete(int codmembers)
    {
        var answer = await MatDialogService.ConfirmAsync(Resource.AreYouSureToDelete);
        if (!answer) return;

        await ProyectoDataService.DeleteMember(codmembers);
        NavigationManager.NavigateTo($"/viewMembers/{IdProject}", true);

    }
}
