@page "/ViewMembers/{idproject:int}"
@using Models
@using BminingBlazor.Services
@using Microsoft.AspNetCore.Components
@using System.Data
@using ViewModels.User

@inject IMatDialogService MatDialogService
@inject NavigationManager NavigationManager
@inject IProjectDataService ProjectDataService
@inject IUserDataService UserDataService
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize(Roles = "Administracion")]
<h3>@Resource.ProjectManager</h3>
@if (_boss == null)
{
}
else
{
    <div class="table-responsive{-sm|-md|-lg|-xl}">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Resource.Email</th>
                    <th>@Resource.Names</th>
                    <th>@Resource.PaternalLastName</th>
                    <th>@Resource.MaternalLastName</th>
                    <th>Rut</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in _boss)
                {
                    <tr>
                        <td>@p.MyEmail</td>
                        <td>@p.MyName</td>
                        <td>@p.MyPaternalSurname</td>
                        <td>@p.MyMaternalSurname</td>
                        <td>@p.MyRut</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<h3>@Resource.Members</h3>
@if (_members == null)
{
}
else
{
    <div class="table-responsive{-sm|-md|-lg|-xl}">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Resource.Email</th>
                    <th>@Resource.Names</th>
                    <th>@Resource.PaternalLastName</th>
                    <th>@Resource.MaternalLastName</th>
                    <th>Rut</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in _members)
                {
                    <tr>
                        <td>@i.MyEmail</td>
                        <td>@i.MyName</td>
                        <td>@i.MyPaternalSurname</td>
                        <td>@i.MyMaternalSurname</td>
                        <td>@i.MyRut</td>
                        <MatButton @onclick="()=>Delete(i.MyCodMember)">@Resource.Delete</MatButton>
                    </tr>
                }
            </tbody>
        </table>
        <MatButton type="button" class="btn btn-primary" @onclick="@AddMember">@Resource.AddMember</MatButton>
    </div>

}

@code {
    [Parameter]
    public int IdProject { get; set; }
    private List<MemberViewModel> _boss;
    private List<MemberViewModel> _members;
    protected override async Task OnInitializedAsync()
    {
        //    //var id = await ProjectDataService.ReadIdProjectManager(IdProject);
        //    //_boss = await UserDataService.ReadUser(id);
        _members = await ProjectDataService.ReadMembers(IdProject);
    }
    public void AddMember()
    {
        NavigationManager.NavigateTo($"/AddMembers/{IdProject}");
    }
    public async void Delete(int codMember)
    {
        var answer = await MatDialogService.ConfirmAsync(Resource.AreYouSureToDelete);
        if (!answer) return;

        await ProjectDataService.DeleteMember(codMember);
        NavigationManager.NavigateTo($"/viewMembers/{IdProject}", true);

    }
}
