@page "/ViewProject"
@using Models
@using BminingBlazor.ViewModels.Projects



@inject IProjectDataService ProjectDataService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IMatDialogService MatDialogService
@attribute [Authorize(Roles = "Administracion")]




<div class="logo"/>
<div class="bmining-app">
    <div class="d-flex flex-row w-100 justify-content-between">
        <div class="d-inline-block">
            <h2>@Resource.Projects</h2>
        </div>
        <div class="d-inline-block">
            <button @onclick="NewProject" class="btn-plus">              
            </button>
        </div>
    </div>

 

    @if (_projects == null)
    {
        <MatProgressBar Indeterminate="true"></MatProgressBar>
    }
    else
    {
        <div>
            <Filter ColumnTitle=@Resource.ProjectCode OnSearchTextChanged="@(search=>OnSearchTextChanged(search ,Resource.ProjectCode))"></Filter>
            <Filter ColumnTitle=@Resource.ProjectName OnSearchTextChanged="@(search=>OnSearchTextChanged(search,Resource.ProjectName))"></Filter>
        </div>

        <div class="table-responsive{-sm|-md|-lg|-xl}">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>@Resource.ProjectCode</th>
                        <th>@Resource.ProjectName</th>
                        <th>@Resource.EmailProjectManager</th>
                        <th>@Resource.ProjectType</th>
                        <th>@Resource.Client</th>
                        <th>@Resource.StatusProject </th>
                        <th>@Resource.Actions </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in _projectList)
                    {
                        <tr>
                            <td>@p.MyProjectCode</td>
                            <td>@p.MyProjectName</td>
                            <td>@p.MyProjectManager.MyEmail</td>
                            <td>
                                @switch (p.MyProjectType)
                                {
                                    case ProjectTypeEnum.Commercial:
                                        @Resource.Commercial
                                        break;
                                    case ProjectTypeEnum.Internal:
                                        @Resource.Intern
                                        break;
                                    case ProjectTypeEnum.Thesis:
                                        @Resource.Thesis
                                        break;
                                }
                            </td>
                            <td>@p.MyClientName</td>
                            <td>
                                @switch (p.MyProjectStatus)
                                {
                                    case ProjectStatusEnum.Active:
                                        @Resource.Active
                                        break;
                                    case ProjectStatusEnum.Finished:
                                        @Resource.Finished
                                        break;
                                    case ProjectStatusEnum.NotInitiated:
                                        @Resource.NotInitiated
                                        break;
                                    case ProjectStatusEnum.Unknown:
                                        @Resource.Unknown
                                        break;
                                }
                            </td>
                            <td>
                                <button class="btn-member" @onclick=@(()=>ViewMembers(p.MyId))>                                   
                                </button>
                                <button class="btn-edit" @onclick=@(()=>EditPaymentStatus(p.MyId))>                                  
                                </button>
                                <button class="btn-delete" @onclick=@(()=>Delete(p.MyId))>                                    
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    <div >

        @for (int page = 0; page < TotalPage; page++)
        {
            int pageNumber = page;
            <button class="@SelectedPage(page)" @onclick="@(()=>UpdateList(pageNumber))">@(page+1)</button>
        }
    </div>
</div>

@code {
    public List<ProjectViewModel> _projects;
    public List<ProjectViewModel> _projectList { get; set; }
    public int PageSize { get; set; }
    public int TotalPage { get; set; }
    public int CurrentPage { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            PageSize = 4;
            _projects = await ProjectDataService.ReadProjects();
            _projectList = _projects.Take(PageSize).ToList();
            TotalPage = (int)Math.Ceiling(_projects.Count() / (decimal)PageSize);

            StateHasChanged();
        }
    }



    public void EditPaymentStatus(int idProject)
    {
        NavigationManager.NavigateTo($"/ViewPaymentStatus/{idProject}");
    }

    public void NewProject()
    {
        NavigationManager.NavigateTo("/CreateProject");
    }
    public void ViewMembers(int idProject)
    {
        NavigationManager.NavigateTo($"ViewMembers/{idProject}");
    }

    public async void Delete(int idProject)
    {
        var answer = await MatDialogService.AskAsync(Resource.AreYouSureToDelete, new[] { Resource.Yes, Resource.No });
        if (answer == null || answer == Resource.No)
            return;
        await ProjectDataService.DeleteProject(idProject);
        NavigationManager.NavigateTo("/ViewProject", true);
    }
    private void UpdateList(int pageNumber)
    {
        _projectList = _projects.Skip(PageSize * pageNumber).Take(PageSize).ToList();
        CurrentPage = pageNumber;
    }
    private string SelectedPage(int selectPage)
    {
        if (CurrentPage == selectPage)
        {
            return "btn btn-info";
        }
        else
        {
            return "btn btn-secondary";
        }
    }
    private void OnSearchTextChanged(ChangeEventArgs changeEventArgs, string columnTitle)
    {
        string searchText = changeEventArgs.Value.ToString();
        if (columnTitle == Resource.ProjectName)
            _projectList = _projects.Where(pro => pro.MyProjectName.Contains(searchText, StringComparison.CurrentCultureIgnoreCase)).ToList();
        if (columnTitle == Resource.ProjectCode)
            _projectList = _projects.Where(pro => pro.MyProjectCode.Contains(searchText, StringComparison.CurrentCultureIgnoreCase)).ToList();


    }
}
