@page "/ListViewActivityRecord"
@using Models
@using BminingBlazor.ViewModels.ActivityRecord


@inject IActivityRecordService ActivityRecordService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IMatDialogService MatDialogService


<div class="logo" />
<div class="bmining-app">
    <div class="d-flex flex-row w-100 justify-content-between">
        <div class="d-inline-block">
            <h2>@Resource.ListActivityRecord</h2>
        </div>
    </div>
    <div class="main-break">
        <div class="main-circle"></div>
    </div>

    @if (_listActivityRecords == null)
    {
        <MatProgressBar Indeterminate="true"></MatProgressBar>
    }
    else
    {
        <div class="table-responsive{-sm|-md|-lg|-xl}">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>@Resource.Id</th>
                        <th>@Resource.Name</th>
                        <th>@Resource.Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var listActivityRecord in _listActivityRecordsList)
                    {
                        <tr>
                            <td>@listActivityRecord.MyId</td>
                            <td>@listActivityRecord.MyName</td>
                            <td>@listActivityRecord.MyDate.ToString("dd/MM/yyyy")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    <div>
        @for (int page = 0; page < TotalPage; page++)
        {
            int pageNumber = page;
            <button class="@SelectedPage(page)" @onclick="@(()=>UpdateList(pageNumber))">@(page+1)</button>
        }
    </div>
</div>


@code {
    public List<ListActivityRecordViewModel> _listActivityRecords;
    public List<ListActivityRecordViewModel> _listActivityRecordsList { get; set; }
    public int PageSize { get; set; }
    public int TotalPage { get; set; }
    public int CurrentPage { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            PageSize = 5;
            _listActivityRecords = await ActivityRecordService.ReadListActivityRecord();
            _listActivityRecordsList = _listActivityRecords.Take(PageSize).ToList();
            TotalPage = (int)Math.Ceiling(_listActivityRecords.Count() / (decimal)PageSize);

            StateHasChanged();
        }
    }



    private void UpdateList(int pageNumber)
    {
        _listActivityRecordsList = _listActivityRecords.Skip(PageSize * pageNumber).Take(PageSize).ToList();
        CurrentPage = pageNumber;
    }
    private string SelectedPage(int selectPage)
    {
        if (CurrentPage == selectPage)
        {
            return "btn btn-info";
        }
        else
        {
            return "btn btn-secondary";
        }
    }
}