@page "/CreateUser"
@using BminingBlazor.Services
@using Models
@using ViewModels.User
@inject NavigationManager NavigationManager

@inject IUserDataService UserDataService
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize(Roles = "AdminRRHH,Administracion")]
<h3>@Resource.CreateUser</h3>
<EditForm Model="@_newUser" OnValidSubmit="@InsertUsers">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <tr>
        <td>
            <label for="inputNombres">@Resource.Email:</label>
            <InputText id="MyEmail" @bind-Value="_newUser.MyEmail" />
            <label for="inputNombres">@Resource.Names:</label>
            <InputText id="MyName" @bind-Value="_newUser.MyName" />
        </td>
    </tr>
    <tr>
        <td>
            <label for="inputNombres">@Resource.PaternalLastName:</label>
            <InputText id="MyPaternalSurname" @bind-Value="_newUser.MyPaternalSurname" />
            <label for="inputNombres">@Resource.MaternalLastName:</label>
            <InputText id="MyMaternalSurname" @bind-Value="_newUser.MyMaternalSurname" />
            <label for="inputNombres">@Resource.Rut:</label>
            <InputText id="MyRut" @bind-Value="_newUser.MyRut" />

        </td>
    </tr>
    <tr>
        <td>
            <label for="inputNombres">@Resource.Job:</label>
            <InputText id="MyJob" @bind-Value="_newUser.MyJob" />
            <label for="inputNombres">@Resource.Phone:</label>
            <InputText id="MyTelephone" @bind-Value="_newUser.MyTelephone" />
            <label for="inputNombres">@Resource.HomeAddress:</label>
            <InputText id="MyDirection" @bind-Value="_newUser.MyDirection" />
        </td>
    </tr>
    <div>

        <label for="inputNombres">  @Resource.ContractType:  </label>
        <InputSelect class="form-control" @bind-Value="_newUser.MyContractType" required>

            @foreach (var typeContract in Enum.GetValues(typeof(ContractTypeEnum)))
            {
                <option value="@typeContract">
                    @{
                        switch (typeContract)
                        {
                            case ContractTypeEnum.FeeContract:
                                <p>@Resource.FeeContract</p>
                                break;
                            case ContractTypeEnum.FixedTermContract:
                                <p>@Resource.FixedTermContract</p>
                                break;
                            case ContractTypeEnum.IndefiniteContract:
                                <p>@Resource.IndefiniteContract</p>
                                break;
                        }
                    }
                </option>
            }

        </InputSelect>

    </div>
    <button type="submit" class="btn btn-primary">@Resource.Create</button>
</EditForm>


@code {
    private UserViewModel _newUser = new UserViewModel();

    private async Task InsertUsers()
    {
        var user = new UserViewModel()
        {
            MyEmail = _newUser.MyEmail,
            MyName = _newUser.MyName,
            MyPaternalSurname = _newUser.MyPaternalSurname,
            MyMaternalSurname = _newUser.MyMaternalSurname,
            MyRut = _newUser.MyRut,
            MyJob = _newUser.MyJob,
            MyTelephone = _newUser.MyTelephone,
            MyDirection = _newUser.MyDirection,
            MyContractType=_newUser.MyContractType
        };
        var id = await UserDataService.CreateUser(user);

        NavigationManager.NavigateTo("/viewUsers");
    }
}
