@page "/viewusers"
@using Models
@using BminingBlazor.Services

@inject IUserDataService UserDataService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IMatDialogService MatDialogService;


@attribute [Authorize(Roles = "AdminRRHH,Administracion")]
<h3>Usuarios</h3>
@if (users == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <div class="table-responsive{-sm|-md|-lg|-xl}">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Rut</th>
                    <th>Cargo</th>
                    <th>Telefono</th>
                    <th>Dirección</th>
                    <th>Tipo de Contrato</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in users)
                {
                    <tr>
                        <td>@p.Email_Bmining</td>
                        <td>@p.Nombre</td>
                        <td>@p.Apellido_Paterno</td>
                        <td>@p.Apellido_Materno</td>
                        <td>@p.Rut</td>
                        <td>@p.Cargo</td>
                        <td>@p.Telefono</td>
                        <td>@p.Direccion</td>
                        <td>@p.Cod_TipoContrato</td>
                        <MatButton @onclick=@(()=>EditCallback(p.id))>Editar</MatButton>
                        <MatButton @onclick=@(()=>Delete(p.id))>Eliminar</MatButton>
                    </tr>
                }
                <tr>
                    <MatButton type="button" class="btn btn-primary" @onclick="@NewUser">Crear Usuario</MatButton>
                </tr>
            </tbody>
        </table>
    </div>
}

@code {
    private List<UsuarioModel> users;

    public void NewUser()
    {
        NavigationManager.NavigateTo("CrearUser");
    }

    public async void Delete(int id)
    {
        var answer = await MatDialogService.AskAsync($"¿Seguro de borrar el proyecto {id}?", new List<string> { "Sí", "No" });
        if (answer == null || answer == "No")
            return;
        await UserDataService.DeleteUser(id);
        NavigationManager.NavigateTo("ViewUsers", true);

    }

    public void EditCallback(int id)
    {
        NavigationManager.NavigateTo($"editarusuario/{id}");
    }

    protected override async Task OnInitializedAsync()
    {
        users = await UserDataService.ReadUsers();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
