<style>
    .bm-grid-container {
        display: inline-grid;
        grid-template-columns: auto 1fr;
        grid-column-gap: 4px;
        align-items: center;
    }

    .bm-grid-item {
        vertical-align: middle;
        display: inline;
        text-align: center;
        color: whitesmoke
    }

    .bm-image {
        background-color: whitesmoke;
        border-radius: 100%;
    }
</style>


<div class="top-row pl-4 navbar navbar-dark">
    <div class="bm-grid-container">
        <img width="32" height="32" class="bm-image bm-grid-item" src="https://i.ibb.co/d2qxL9p/bmining-logo.png" />
        <div class=" bm-grid-item navbar-brand">@Resource.Bmining</div>
    </div>

    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> @Resource.Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ViewUsers">
                <span class="oi oi-people"></span>@Resource.Users
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ViewProject">
                <span class="oi oi-list-rich" aria-hidden="true"></span> @Resource.Projects
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="AddClient">
                <span class="oi oi-plus" aria-hidden="true"></span> @Resource.AddClient
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Reports">
                <span class="oi oi-document" aria-hidden="true"></span> @Resource.Report
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/dashboard_tracking_hours">
                <span class="oi oi-calendar" aria-hidden="true"></span> @Resource.DashboardHours
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="SecurityReflection">
                <span class="oi oi-info" aria-hidden="true"></span> @Resource.SecurityReflection
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link pointer-hover" @onclick="() => _expandAuditHours = !_expandAuditHours">
                @if (!_expandAuditHours)
                {
                    <span class="oi oi-caret-right" aria-hidden="true"></span>
                }
                else
                {
                    <span class="oi oi-caret-bottom" aria-hidden="true"></span>
                }
                @Resource.AuditHours
            </NavLink>

            @if (_expandAuditHours)
            {
                <NavLink class="nav-link" href="/project_manager_dashboard">
                    @Resource.ProjectManager
                </NavLink>
                <NavLink class="nav-link" href="/admin_dashboard">
                    @Resource.Administration
                </NavLink>
            }
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link pointer-hover" @onclick="() => _expandActivityRecord = !_expandActivityRecord">
                @if (!_expandActivityRecord)
                {
                    <span class="oi oi-caret-right" aria-hidden="true"></span>
                }
                else
                {
                    <span class="oi oi-caret-bottom" aria-hidden="true"></span>
                }
                @Resource.ActivityRecord
            </NavLink>
            @if (_expandActivityRecord)
            {
                <NavLink class="nav-link" href="/dashboard_activity_record">
                    @Resource.ActivityRecords
                </NavLink>
                <NavLink class="nav-link" href="/create_activity_record">
                    @Resource.CreateActivityRecord
                </NavLink>
            }
        </li>
        <li class="nav-item px-3">
            <div class="alternate2-break"></div>
        </li>
        <li class="nav-item px-1.5">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link">
                        <span class="oi oi-person" aria-hidden="true"></span>
                        @context.User.Identity.Name
                    </NavLink>
                    <NavLink class="nav-link" href="AzureAD/Account/SignOut">
                        <span class="oi oi-account-logout" aria-hidden="true"></span>
                        @Resource.LogOut
                    </NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="nav-link" href="AzureAD/Account/SignIn">
                        <span class="oi oi-account-login" aria-hidden="true"></span>
                        @Resource.LogIn
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </li>
    </ul>
</div>

@code {
    private bool _collapseNavMenu = true;
    private bool _expandActivityRecord = false;
    private bool _expandAuditHours = false;

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
